// grid called with the class "container", 12 columns wide
.container {
    display: grid;
    margin: 3% auto;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    grid-gap: 0.5rem;
}

$columns: 12;

@for $i from 1 through $columns {
    .col-#{$i} {
        grid-column: span $i;
    }
}